<%= form_for(@subscripton) do |f| %>
<% if @subscripton.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@subscripton.errors.count, "error") %> prohibited this subscripton from being saved:</h2>

  <ul>
    <% @subscripton.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class= "field">
  <%= f.select :book_id, Book.all.collect {|p| [p.title, p.id ]} %>
</div>
<div class = "field">
  <%= f.select :subscriber_id, Subscriber.all.collect {|p| [p.name, p.id]} %>
</div>
<div class= "field">
 <%= f.label :length %>
 <%= f.number_field :length %>
</div>
<div class ="actions">
  <%= f.submit %>
</div>
<% end %>

